@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 88px;
  box-sizing: border-box;
  padding: 24px 163px 24px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
}
header .search {
  width: 923px;
  height: 44px;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}
header .search .searchInput {
  width: 863px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .search .searchInput .search-normal {
  width: 20px;
  height: 20px;
}
header .search .searchInput span {
  color: #838d8f;
}
header .shopcar {
  width: 36px;
  height: 27px;
}

.header2 {
  width: 100vw;
  height: 88px;
  box-sizing: border-box;
  padding: 24px 163px 24px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.header2 .logo {
  height: 40px;
}
.header2 .search {
  width: 923px;
  height: 44px;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.header2 .search .searchInput {
  width: 863px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header2 .search .searchInput .search-normal {
  width: 20px;
  height: 20px;
}
.header2 .search .searchInput span {
  color: #838d8f;
}
.header2 .shopcar {
  width: 36px;
  height: 27px;
}

.banner {

  background-repeat: no-repeat;
  height: 620px;
  position: relative;
  width: 100vw;
  background-position: right;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); 
}
.banner .big_box  {
  width: 100vw;
  height: 640px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.left_but {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px;
  opacity: 0.5;
}
.left_but img,
.right_but img{
  width: 60px;
  height: 60px;
}
.right_but {
  z-index: 9999;
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.5;
}


a img {
  width: 50px;
  height: 50px;
}

.promo_nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 113px;
  height: 14px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 7px;
}

.promo_nav li {
  float: left;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #fff;
  margin: 3px;
}

.promo_nav .selected {
  background-color: #ff5000;
  z-index: 9999;
}

.slide_img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 800%;
}

.slide_img li {
  float: left;
}

.slide_img img {
  width: 100vw;
  height: 640px;
}



.bannerTitle {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold; 
}

.banner .bannerText {
  z-index: 1;
  position: absolute;
  top: 139px;
  left: 120px;
}
.banner .bannerText .bannerTitle {
  font-size: 40px;
  color: #0b0f0e;
  font-weight: bold;
}
.banner .bannerText .bannerButton div {
  width: 327px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.banner .bannerText .bannerButton .button1 {
  margin: 20px 0;
  background-color: #065cac;
}
.banner .bannerText .bannerButton .button2 {
  color: #065cac;
  border: 1px solid #065cac;
}
.banner .bannerText .bannerButton .button1:active,
.banner .bannerText .bannerButton .button2:active{
  color: #ffffff !important;
  background-color: #033667;
}

.pbannerText, .noneMore {
  display: none;
}

section {
  background-color: #f7f7f7;
  width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
}

.newProduct {
  padding-bottom: 50px;
  margin: 0;
}

.category {
  margin-bottom: 50px;
}
.category .category-header {
  text-align: center;
  padding: 80px 0 40px;
  font-size: 38px;
  font-weight: bold; 
  font-family: 'M PLUS 1p', sans-serif;
}
.category .categoryBox {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
  background-color: #f8f8f8;
}
.category .categoryBox .categoryItem {
  border-radius: 20px;
  display: flex;
  width: 278px;
  height: 278px;
  flex-direction: column;
  border: 1px solid #f8f8f8;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.1), -10px 0px 15px rgba(0, 0, 0, 0.1); 
}
.category .categoryBox .categoryItem .cate-img {
  width: 233px;
  height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category .categoryBox .categoryItem p {
  font-size: 20px;
  font-weight: bold;
}

.newProduct {
  width: 1200px;
  margin: 0 auto;
}
.np-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
  font-family: 'M PLUS 1p', sans-serif; 
}
.newProduct .np-header p {
  font-size: 38px;
  font-weight: bold;
}
.newProduct .np-header .np-button {
  border-radius: 8px;
  width: 154px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #065cac;
  font-size: 18px;
  font-weight: bold;
  color: #065cac;
}
.newProduct .np-header .np-button:active {
  color: #ffffff !important;
  background-color: #033667;
}
.newProduct .np-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
}
.newProduct .np-box .np-img {
  width: 278px;
  height: 278px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f5;
  border: 1px solid #d1d1d3;
  border-radius: 15px;
  margin-bottom: 11px;
}
.newProduct .np-box .np-msg {
  font-size: 20px;
  margin-bottom: 20px;
}
.newProduct .np-box .np-price {
  display: flex;
  justify-content: space-between;
}
.newProduct .np-box .np-price p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Inria Sans', sans-serif;
}
.newProduct .np-box .np-price div {
  border-radius: 8px;
  font-family: 'Inria Sans', sans-serif;
  width: 87px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #065cac;
  font-size: 12px;
  font-weight: bold;
  color: #065cac;
}
.inria-sans {
  font-family: 'Inria Sans', sans-serif;
}




.but-nb{
  border-radius: 8px;
  width: 87px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #065cac;
  font-size: 12px;
  font-weight: bold;
  color: #065cac;
}

.but-nb:active {
  color: #ffffff !important;
  background-color: #033667;

}



.newProduct .np-box .np-price .np-discount {
  color: #a1a0a0;
  font-family: 'Inria Sans', sans-serif;
}
.newProduct .np-box .np-price .np-discount .np-s1 {
  color: #fc0b0b;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Inria Sans', sans-serif;
}
.newProduct .np-box .np-price .np-discount .np-s2 {
  text-decoration: line-through;
  font-size: 14px;
  font-family: 'Inria Sans', sans-serif;
}

footer {
  width: 100vw;
  margin: 0 auto;
  background-color: #f5f6f8;
}
footer .footerInfo {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 84px 0 73px;
  box-sizing: border-box;
}
footer .footerInfo .left-1 {
  width: 385px;
}
footer .footerInfo .left-1 img {
  margin-bottom: 13px;
}
footer .footerInfo .left-1 p {
  font-size: 16px;
}
footer .footerInfo .right-1 {
  display: flex;
  gap: 50px;
}
footer .footerInfo .right-1 .line-1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 13px;
}
footer .footerInfo .right-1 p {
  line-height: 30px;
}

.footer-copy {
  background-color: #f1f1f1;
  width: 100vw;
}
.footer-copy .copy {
  width: 1200px;
  margin: 0 auto;
  line-height: 58px;
  display: flex;
  justify-content: space-between;
}
.footer-copy .copy p {
  font-size: 16px;
  color: #0b0f0e;
}
.footer-copy .copy .copy-s1 {
  margin-right: 32px;
}

.searchContainer {
  width: 1200px;
  margin: 60px auto 0;
}
.searchContainer .bread {
  color: #065cac;
  margin-bottom: 22px;
}
.searchContainer .searchTitle {
  margin-bottom: 30px;
}
.searchContainer .searchTitle .title {
  font-size: 28px;
  color: black;
  margin-bottom: 5px;
  font-family: 'M PLUS 1p', sans-serif;
}
.searchContainer .searchTitle p {
  font-size: 16px;
  color: #818b9c;
  font-weight: bold;
}

.np-box2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 29px;
  margin-bottom: 24px;
}
.np-box2 .np-img {
  width: 278px;
  height: 278px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f5;
  border: 1px solid #d1d1d3;
  border-radius: 15px;
  margin-bottom: 11px;
}
.np-box2 .np-msg {
  font-size: 20px;
  margin-bottom: 20px;
}
.np-box2 .np-price {
  display: flex;
  justify-content: space-between;
}
.np-box2 .np-price p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Inria Sans', sans-serif;
}
.np-box2 .np-price div {
  border-radius: 8px;
  width: 87px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #065cac;
  font-size: 12px;
  font-weight: bold;
  color: #065cac;
  font-family: 'Inria Sans', sans-serif;
}
.np-box2 .np-price .np-discount {
  color: #a1a0a0;
  font-family: 'Inria Sans', sans-serif;
}
.np-box2 .np-price .np-discount .np-s1 {
  color: #fc0b0b;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Inria Sans', sans-serif;
}
.np-box2 .np-price .np-discount .np-s2 {
  text-decoration: line-through;
  font-size: 14px;
  font-family: 'Inria Sans', sans-serif;
}

.pageBread {
  width: 200px;
  margin: 50px auto 100px;
}
.pageBread .pageBox {
  display: flex;
  gap: 8px;
  align-items: center;
}
.pageBread .pageBox .number {
  width: 41px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e8e8e8;
}
.pageBread .pageBox .n2 {
  border: none;
}

.shopContent .shopTop {
  display: flex;
  gap: 42px;
  margin-bottom: 40px;
}
.shopContent .shopTop .productMsg .pTitle {
  font-size: 30px;
  font-weight: bold;
}
.shopContent .shopTop .productMsg .sold {
  font-size: 12px;
  color: #838d8f;
}
.shopContent .shopTop .productMsg .pPrice {
  margin: 10px 0 10px;
  color: #065cac;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Inria Sans', sans-serif;
}
.shopContent .shopTop .productMsg .pmsg {
  font-size: 16px;
  color: #838d8f;
  margin-bottom: 60px;
}
.shopContent .shopTop .productMsg .pmsg span {
  color: #065cac;
}
.shopContent .shopTop .productMsg .pButton {
  width: 327px;
}
.shopContent .shopTop .productMsg .pButton .item {
  width: 100%;
  text-align: center;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  background-color: #065cac;
  color: white;
  font-weight: bold;
  margin-bottom: 18px;
}
.shopContent .shopTop .productMsg .pButton .item:active {
  color: #ffffff !important;
  background-color: #033667;

}
.shopContent .shopTop .productMsg .pButton .padd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #065cac;
  color: #065cac;
}
.shopContent .p1 {
  color: #065cac;
  font-weight: bold;
  margin-bottom: 15px;
}
.shopContent .shopInfo .p2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}
.shopContent .shopInfo p {
  color: #838d8f;
  margin-bottom: 5px;
}
.shopContent .shopInfo .shopTwoImg {
  margin: 60px 0 100px;
  display: flex;
  gap: 30px;
}
.shopContent .shopInfo .shopTwoImg img {
  width: 450px;
  height: 450px;
}

.shoppingTitle {
  margin-bottom: 40px;
}
.shoppingTitle .sp1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.shoppingTitle .sp2 {
  font-size: 16px;
  color: #838d8f;
}

.cartBox {
  display: flex;
  gap: 32px;
  margin-bottom: 100px;
}
.cartBox .leftBox {
  width: 768px;
  height: 164px;
  border-radius: 8px;
  border: 1px solid #e4e9ee;
  background-color: white;
  padding: 16px 12px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: center;
}
.cartBox .leftBox .imgText {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cartBox .leftBox .imgText .pDiv {
  width: 367px;
}
.cartBox .leftBox .imgText .pDiv p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.cartBox .leftBox .imgText .addOrdel {
  border: 1px solid #e4e9ee;
  padding: 10px 13px;
  border-radius: 8px;
}
.cartBox .leftBox .imgText .addOrdel span {
  margin-right: 7px;
}
.cartBox .rightBox {
  width: 380px;
  height: 435px;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.cartBox .rightBox .rp1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .rPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .rPrice .ss2 {
  font-weight: bold;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .totalPrice {
  padding: 20px 0;
  border-top: 1px solid #e4e9ee;
  border-bottom: 1px solid #e4e9ee;
  margin-bottom: 20px;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .totalPrice .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #838d8f;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .totalPrice2 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Inria Sans', sans-serif;
}
.cartBox .rightBox .Checkout {
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: white;
  background-color: #065cac;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  
}
.cartBox .rightBox .Checkout:active {
  color: #ffffff !important;
  background-color: #033667;
}
.cartBox .Address,
.cartBox .Debit {
  width: 768px;
  border-radius: 8px;
  border: 1px solid #e4e9ee;
  background-color: white;
  padding: 16px 12px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.cartBox .Address .ap1,
.cartBox .Address .dp1,
.cartBox .Debit .ap1,
.cartBox .Debit .dp1 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.cartBox .Address .addressItem,
.cartBox .Debit .addressItem {
  margin: 20px 0;
}
.cartBox .Address .addressItem p,
.cartBox .Debit .addressItem p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.cartBox .Address .addressItem input,
.cartBox .Debit .addressItem input {
  width: 700px;
  height: 40px;
  border: none;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  border-radius: 12px;
}
.cartBox .Address .debitFour,
.cartBox .Debit .debitFour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-template-rows: 2;
  margin-bottom: 20px;
}
.cartBox .Address .debitFour .debitItem p,
.cartBox .Debit .debitFour .debitItem p {
  font-weight: bold;
  margin-bottom: 15px;
}
.cartBox .Address .debitFour .debitItem input,
.cartBox .Debit .debitFour .debitItem input {
  width: 322px;
  height: 44px;
  border: 1px solid #E4E9EE;
  border-radius: 12px;
}

.successful {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.successful .pbold {
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.successful P {
  color: #818b9c;
  font-size: 18px;
}
.successful .sButton {
  display: flex;
  gap: 20PX;
}
.successful .sButton .item {
  width: 160px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  background-color: #065cac;
}
.successful .sButton .item:active {
  color: #ffffff !important;
  background-color: #033667;
}
.successful .sButton .item a {
  text-decoration: none;
  color: white;
}
.successful .sButton .Check {
  background-color: #E4E9EE;
}
.successful .sButton .Check a {
  color: black;
}
@charset "UTF-8";




/*--------------------------------------------------------------*/

@media screen and (max-width: 391px) {
  header {
    width: 100vw;
    height: 88px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    height: 40px;
  }
  header .search {
    width: 50%;
    height: 44px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  header .search .searchInput {
    width: 863px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  header .search .searchInput .search-normal {
    width: 20px;
    height: 20px;
  }
  header .search .searchInput span {
    color: #838d8f;
  }
  header .shopcar {
    width: 36px;
    height: 27px;
  }
  .header2 {
    width: 100vw;
    height: 88px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
  }
  .header2 .logo {
    height: 40px;
  }
  .header2 .search {
    width: 200px;
    height: 44px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  .header2 .search .searchInput {
    width: 200px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .header2 .search .searchInput .search-normal {
    width: 20px;
    height: 20px;
  }
  .header2 .search .searchInput span {
    color: #838d8f;
  }
  .header2 .shopcar {
    width: 36px;
    height: 27px;
  }
  .banner {
    height: 228px;
  }


  .banner .big_box  {
    width: 100vw;
    height: 220px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .left_but {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    opacity: 0.5;
  }
  .left_but img,
  .right_but img{
    width: 30px;
    height: 30px;
  }
  .right_but {
    z-index: 9999;
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.5;
  }


  a img {
    width: 50px;
    height: 50px;
  }

  .promo_nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 113px;
    height: 14px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 7px;
  }

  .promo_nav li {
    float: left;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 3px;
  }

  .promo_nav .selected {
    background-color: #ff5000;
    z-index: 9999;
  }

  .slide_img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 800%;
  }

  .slide_img li {
    float: left;
  }

  .slide_img img {
    width: 100vw;
    height: 220px;
  }

  .bannerText {
    display: none;
  }
  .pbannerText {
    display: block;
    margin: 30px 0;
  }
  .pbannerText p {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .pbannerText .bannerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pbannerText .bannerButton div {
    width: 327px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .pbannerText .bannerButton .button1 {
    margin: 20px 0;
    background-color: #065cac;
  }
  .pbannerText .bannerButton .button2 {
    color: #065cac;
    border: 1px solid #065cac;
  }
  .category {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .category .category-header {
    font-size: 20px;
    text-align: left;
  }
  .category .categoryBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 5px;
    width: 100vw;
  }
  .category .categoryBox .categoryItem {
    width: 170px;
    height: 170px;
    padding-bottom: 20px;
  }
  .category .categoryBox .categoryItem p {
    font-size: 14px;
  }
  .category img {
    width: 150px;
  }
  .newProduct {
    width: 100vw;
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .newProduct .np-header {
    margin-bottom: 20px;
  }
  .newProduct .np-header p {
    font-size: 18px;
  }
  .newProduct .np-button {
    display: none;
  }
  .newProduct .np-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .newProduct .np-box .np-item {
    width: 170px;
  }
  .newProduct .np-box .np-item .np-img {
    width: 150px;
    height: 150px;
  }
  .newProduct .np-box .np-item .np-img img {
    width: 150px;
    height: 150px;
  }
  .newProduct .np-box .np-item .np-msg {
    font-size: 12px;
  }
  .newProduct .np-box .np-item .np-price p {
    font-size: 16px;
  }
  .newProduct .np-box .np-item .np-price div {
    font-size: 12px;
  }
  .newProduct .np-box .np-item .np-price .np-discount {
    display: flex;
    align-items: center;
  }
  .newProduct .np-box .np-item .np-price .np-discount .np-s1, .newProduct .np-box .np-item .np-price .np-discount .np-s2 {
    font-size: 10px;
  }
  .newProduct .np-box .pnone {
    display: none;
  }
  .newProduct .noneMore {
    display: block;
    width: 167px;
    margin: 50px auto;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    border: 1px solid #065cac;
    text-align: center;
  }
  .newProduct .noneMore a {
    color: #065cac;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  .newProduct #small {
    font-size: 14px;
  }
  footer .footerInfo {
    width: 100vw;
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
  }
  footer .footerInfo .left-1 {
    width: 90%;
    margin-bottom: 20px;
    color: #0B0F0E;
  }
  .footer-copy .copy {
    width: 100vw;
    display: block;
    text-align: center;
    line-height: 40px;
  }
  .footer-copy .copy .copy-left {
    font-size: 12px;
  }
  .footer-copy .copy .copy-r {
    font-size: 12px;
  }
  .searchContainer {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .searchContainer .np-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .searchContainer .np-box2 .np-item {
    width: 170px;
  }
  .searchContainer .np-box2 .np-item .np-img {
    width: 150px;
    height: 150px;
  }
  .searchContainer .np-box2 .np-item .np-img img {
    width: 150px;
    height: 150px;
  }
  .searchContainer .np-box2 .np-item .np-msg {
    font-size: 14px;
  }
  .searchContainer .np-box2 .np-item .np-price {
    display: flex;
    align-items: center;
  }
  .searchContainer .np-box2 .np-item .np-price p {
    font-size: 14px;
  }
  .searchContainer .np-box2 .np-item .np-price .np-discount {
    display: flex;
  }
  .searchContainer .np-box2 .np-item .np-price .np-discount .np-s1, .searchContainer .np-box2 .np-item .np-price .np-discount .np-s2 {
    font-size: 12px;
  }
  .shopContent .shopTop {
    display: block;
  }
  .shopContent .shopTop .productImg img {
    width: 100%;
  }
  .shopContent .shopTop .productMsg .pTitle {
    font-size: 24px;
  }
  .shopContent .shopTop .productMsg .pmsg {
    font-size: 14px;
  }
  .shopContent .shopTop .productMsg .pButton {
    margin: 0 auto;
  }
  .shopContent .shopInfo {
    display: flex;
    flex-direction: column-reverse;
  }
  .shopContent .shopInfo .shopTwoImg {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .shopContent .shopInfo .shopTwoImg img {
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
  .cartBox {
    display: flex;
    flex-direction: column;
  }
  .cartBox .leftBox {
    width: 100%;
    position: relative;
  }
  .cartBox .leftBox .none {
    display: none;
  }
  .cartBox .leftBox .imgText {
    gap: 10px;
  }
  .cartBox .leftBox .imgText .pDiv {
    width: 60%;
  }
  .cartBox .leftBox .imgText .pDiv p {
    font-size: 12px;
  }
  .cartBox .leftBox .imgText .addOrdel {
    position: absolute;
    right: 60px;
    top: 100px;
  }
  .cartBox .leftBox .imgText .abNone {
    position: absolute;
    right: 10px;
    top: 100px;
  }
  .cartBox .Address, .cartBox .Debit {
    width: 100%;
  }
  .cartBox .Address .addressItem input, .cartBox .Debit .addressItem input {
    width: 100%;
  }
  .cartBox .Address .debitFour, .cartBox .Debit .debitFour {
    display: flex;
    flex-direction: column;
  }
  .successful {
    width: 100%;
  }
  .successful .sButton {
    margin-top: 50px;
    width: 100%;
    display: block;
  }
  .successful img {
    width: 80px;
    height: 80px;
  }
  .successful .pbold {
    font-size: 24px;
  }
  .successful p {
    font-size: 14px;
  }
  .successful .sButton .item {

    margin: 10px auto 0;
    width: 80%;
  }
}






@media screen and (min-width: 391px) and (max-width: 913px) {
  header {
    width: 100vw;
    height: 88px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    height: 40px;
  }
  header .search {
    width: 80%;
    margin: 0 100px;
    height: 44px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;

  }
  header .search .searchInput {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  header .search .searchInput .search-normal {
    width: 20px;
    height: 20px;
  }
  header .search .searchInput span {
    color: #838d8f;
  }
  header .shopcar {
    width: 36px;
    height: 27px;
  }
  .header2 {
    width: 100vw;
    height: 88px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* 设置阴影效果 */
    margin-bottom: 20px;
  }
  .header2 .logo {
    height: 40px;
  }
  .header2 .search {
    width: 50%;
    height: 44px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  .header2 .search .searchInput {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .header2 .search .searchInput .search-normal {
    width: 20px;
    height: 20px;
  }
  .header2 .search .searchInput span {
    color: #838d8f;
  }
  .header2 .shopcar {
    width: 36px;
    height: 27px;
  }
  .banner {
    width: 100%;
    height: 328px;
  }



  .banner .big_box  {
    width: 100vw;
    height: 320px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #065CAC;
  }

  .left_but {
    z-index: 9999;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    opacity: 0.5;
  }
  .left_but img,
  .right_but img{
    width: 45px;
    height: 45px;
  }
  .right_but {
    z-index: 9999;
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.5;
  }


  a img {
    width: 50px;
    height: 50px;
  }

  .promo_nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 113px;
    height: 14px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 7px;
  }

  .promo_nav li {
    float: left;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 3px;
  }

  .promo_nav .selected {
    background-color: #ff5000;
    z-index: 9999;
  }

  .slide_img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 800%;
  }

  .slide_img li {
    float: left;
  }

  .slide_img img {
    width: 100vw;
    height: 320px;
  }



  .bannerText {
    display: none;
  }
  .pbannerText {
    display: block;
    margin: 30px 0;
  }
  .pbannerText p {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .pbannerText .bannerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pbannerText .bannerButton div {
    width: 327px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .pbannerText .bannerButton .button1 {
    margin: 20px 0;
    background-color: #065cac;
  }
  .pbannerText .bannerButton .button2 {
    color: #065cac;
    border: 1px solid #065cac;
  }
  .category {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .category .category-header {
    font-size: 20px;
    text-align: left;
  }
  .category .categoryBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 5px;
    width: 100vw;
  }
  .category .categoryBox .categoryItem {
    width: 170px;
    height: 170px;
    padding-bottom: 20px;
  }
  .category .categoryBox .categoryItem p {
    font-size: 14px;
  }
  .category img {
    width: 150px;
  }
  .newProduct {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 50px;
  }
  .newProduct .np-header {
    margin-bottom: 20px;
  }
  .newProduct .np-header p {
    font-size: 18px;
  }
  .newProduct .np-button {
    display: none;
  }
  .newProduct .np-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .newProduct .np-box .np-item {
    width: 170px;
  }
  .newProduct .np-box .np-item .np-img {
    width: 150px;
    height: 150px;
  }
  .newProduct .np-box .np-item .np-img img {
    width: 150px;
    height: 150px;
  }
  .newProduct .np-box .np-item .np-msg {
    font-size: 12px;
  }
  .newProduct .np-box .np-item .np-price p {
    font-size: 16px;
  }
  .newProduct .np-box .np-item .np-price div {
    font-size: 12px;
  }
  .newProduct .np-box .np-item .np-price .np-discount {
    display: flex;
    align-items: center;
  }
  .newProduct .np-box .np-item .np-price .np-discount .np-s1, .newProduct .np-box .np-item .np-price .np-discount .np-s2 {
    font-size: 10px;
  }
  
  .newProduct .noneMore {
    display: block;
    width: 167px;
    margin: 50px auto;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    border: 1px solid #065cac;
    text-align: center;
  }
  .newProduct .noneMore a {
    color: #065cac;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  .newProduct #small {
    font-size: 14px;
  }

  footer .footerInfo {
    width: 912px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 84px 20px 73px;
    box-sizing: border-box;
  }
  footer .footerInfo .left-1 {
    width: 285px;
  }
  footer .footerInfo .left-1 img {
    margin-bottom: 13px;
  }
  footer .footerInfo .left-1 p {
    font-size: 14px;
  }
  footer .footerInfo .right-1 {
    display: flex;
    gap: 10px;
  }
  footer .footerInfo .right-1 .line-1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;

  }
  footer .footerInfo .right-1 p {
    line-height: 30px;
    font-size: 14px;
  }
  
  .footer-copy .copy {
    width: 100vw;
    display: block;
    text-align: center;
    line-height: 40px;
  }
  .footer-copy .copy .copy-left {
    font-size: 12px;
  }
  .footer-copy .copy .copy-r {
    font-size: 12px;
  }
  .searchContainer {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .searchContainer .np-box2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .searchContainer .np-box2 .np-item {
    width: 170px;
  }
  .searchContainer .np-box2 .np-item .np-img {
    width: 150px;
    height: 150px;
  }
  .searchContainer .np-box2 .np-item .np-img img {
    width: 150px;
    height: 150px;
  }
  .searchContainer .np-box2 .np-item .np-msg {
    font-size: 14px;
  }
  .searchContainer .np-box2 .np-item .np-price {
    display: flex;
    align-items: center;
  }
  .searchContainer .np-box2 .np-item .np-price p {
    font-size: 14px;
  }
  .searchContainer .np-box2 .np-item .np-price .np-discount {
    display: flex;
  }
  .searchContainer .np-box2 .np-item .np-price .np-discount .np-s1, .searchContainer .np-box2 .np-item .np-price .np-discount .np-s2 {
    font-size: 12px;
  }
  /*.shopContent .shopTop {*/
  /*  display: block;*/
  /*}*/
  .shopContent .shopTop .productImg img {
    width: 485px;
  }
  .shopContent .shopTop .productMsg .pTitle {
    font-size: 24px;
  }
  .shopContent .shopTop .productMsg .pmsg {
    font-size: 14px;
  }
  /*.shopContent .shopTop .productMsg .pButton {*/
  /*  margin: 0 auto;*/
  /*}*/
  /*.shopContent .shopInfo {*/
  /*  display: flex;*/
  /*  flex-direction: column-reverse;*/
  /*}*/
  .shopContent .shopInfo .shopTwoImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .shopContent .shopInfo .shopTwoImg img {
    width: 100%;
    height: auto;
  }
  .cartBox {
    gap: 10px;
  }
  .cartBox .leftBox2 {
    width: 63%;
  }
  .cartBox .leftBox2 .Address {
    width: 90%;
  }

  .cartBox .leftBox2 .Address .addressItem input {
    width: 90%;
  }
  {
    width: 100%;
    position: relative;
  }
  .cartBox .leftBox {
    width: 70%;
  }
  .cartBox .leftBox .pDiv {

    width: 40% !important;
  }
  .cartBox .leftBox .pDiv p {
    font-size: 14px !important;

  }
  .cartBox .leftBox .imgText img:first-child {
    width: 80px;
    height: 80px;
  }
  .cartBox .leftBox .imgText img:last-child {
    width: 60px;
    height: 60px;
  }
  .cartBox .rightBox {
    width: 35%;
  }
 
  .successful {
    width: 100%;
  }
}

